body {
font-family: Arial, sans-serif;
}
.header {
padding: 50px;
text-align: center;
background: black;
color: white;
}
.navbar {
overflow: hidden;
background-color: gray;
}
.navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a:hover {
background-color: gray;
color: black;
}
.row {
display: flex;
flex-wrap: wrap;
}
.side {
flex: 30%;
background-color: black;
padding: 20px;
}
.main {
flex: 70%;
background-color: black;
padding: 20px;
}
.footer {
padding: 20px;
text-align: center;
background: #ddd;
}
.body-Text{
    flex: 70%;
    background: black;
    color: white;
}
